@inherits StyledComponent
<button class="button @Class" @onclick="@(() => OnClick.InvokeAsync())">
  @Label
</button>

@code{
  [Parameter] public string Label {get; set;} = "Button";
  [Parameter] public EventCallback OnClick {get; set;}
}